<% content_for :title, "Editing compromisso" %>

<h1>Editing compromisso</h1>

<%= render "form", compromisso: @compromisso %>

<br>

<div>
  <%= link_to "Show this compromisso", @compromisso %> |
  <%= link_to "Back to compromissos", compromissos_path %>
</div>
